<div class="metadata metadata_change_suggested">
    <p><i class="${icon} main_icon"></i>change suggested</p>
    <div class="history hide">
        {{each history_items}}
            <div class="history_item" {{if $value.uri == null}}style="color:red"{{/if}}>
                {{if $value.uri != null}}
                    <a class="btn btn-mini btn-success revert_button" data-uri="${$value.uri}">
                        <i class="icon-reply"></i>
                    </a>
                {{/if}}
                <img src="${$value.author.image}" class="ui-corner-all"/>
                <p class="name">${$value.author.name}</p>
                <i class="icon-quote-left"></i>
                <p class="value">${$value.value}</p>
            </div>
        {{/each}}
    </div>
</div>
