{{if display_type}}
    {{if display_type == 'table_cell'}}
        <span class="action_buttons_container"></span>
        <select class="select validation_target {{if validation}}${extract_object_property_names(validation)}{{/if}}">
            {{each values}}
            <option value="${$value.value}" {{if $value.value == $data.value}}selected="selected"{{/if}}>${$value.name}</option>
            {{/each}}
        </select>
        <span class="metadata_container"></span>
    {{/if}}
{{else}}
    <div class="control-group select">
        <span class="action_buttons_container"></span>
        <label class="control-label">${display_name}</label>
        <div class="controls">
            <select class="select validation_target {{if validation}}${extract_object_property_names(validation)}{{/if}}">
                {{each values}}
                    <option value="${$value.value}" {{if $value.value == $data.value}}selected="selected"{{/if}}>${$value.name}</option>
                {{/each}}
            </select>
            <i class="icon-save saving hide"></i>
            <i class="icon-ok saved hide"></i>
            {{if help_message}}
            <p class="help_message hide">${help_message}</p>
            {{/if}}
            <span class="metadata_container"></span>
        </div>
    </div>
{{/if}}