{{if display_type}}
    {{if display_type == 'table_cell'}}
        <span class="action_buttons_container"></span>
        <input type="text" value="${value}" placeholder="${placeholder}" class="text validation_target {{if validation}}${extract_object_property_names(validation)}{{/if}}" />
        <span class="metadata_container"></span>
    {{/if}}
{{else}}
    <div class="control-group textbox">
        <span class="action_buttons_container"></span>
        <div class="action_buttons_container"></div>
        <label class="control-label">${display_name}</label>
        <div class="controls">
            <input type="text" value="${value}" placeholder="${placeholder}" class="text validation_target {{if validation}}${extract_object_property_names(validation)}{{/if}}" />
            <i class="icon-save saving hide"></i>
            <i class="icon-ok saved hide"></i>
            {{if help_message}}
                <p class="help_message hide">${help_message}</p>
            {{/if}}
            <span class="metadata_container"></span>
        </div>
    </div>
{{/if}}
