<div class="control-group">
    <span class="action_buttons_container"></span>
    <label class="control-label"></label>
    <div class="controls button">
        <a class="btn ${button_size_class} ${button_color_class} the_button">${display_name}</a>
        <i class="icon-save saving hide"></i>
        <i class="icon-ok saved hide"></i>
        {{if help_message}}
            <p class="help_message hide">${help_message}</p>
        {{/if}}
        <span class="metadata_container"></span>
    </div>
</div>
