<h5>
    ${display_name}
    <div class="action_container"></div>
</h5>
<span class="action_buttons_container"></span>
{{if help_message}}
<p class="help_message">${help_message}</p>
{{/if}}
<div class="embedded_user row-fluid">
    <div class="span9 offset1">
        <div class="validation_target ui-corner-all row-fluid">
            <div class="embedded_user_image children span3 offset1"></div>
            <div class="embedded_user_details children span7"></div>
            <div class="span1">
                <i class="icon-save saving hide"></i>
                <i class="icon-ok saved hide"></i>
            </div>
        </div>
        <span class="metadata_container"></span>
    </div>
</div>