<h5>
    ${display_name}
</h5>
<span class="action_buttons_container"></span>
{{if help_message}}
<p class="help_message">${help_message}</p>
{{/if}}
<div class="object_table_container">
    <table class="object_table table">
        <thead>
            <tr>
                {{each column_headers}}
                    <th>${$value.display_name}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody class="children table-hover"></tbody>
    </table>
    <span class="metadata_container"></span>
</div>